@use "../../scss" as *;

.home_container {
    @include flex(center, center);

    .wrapper {
        @include flex(flex-start, flex-start);
        flex-direction: row;
        width: 1400px;
        height: calc(100vh - 44px);
        overflow-x: overlay;

        .add_list {
            min-width: 280px;
            padding-top: 4px;
            margin-top: 12px;
            background-color: rgba(white, 0.6);
            border-radius: 4px;
            cursor: pointer;
        }

        &::-webkit-scrollbar {
            height: 12px;
            width: 12px;
        }

        &::-webkit-scrollbar-track-piece {
            background: rgba(black, 0.3);
        }

        &::-webkit-scrollbar-track {
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 4px;
        }
    }
}
